*{margin: 0; padding: 0; box-sizing: border-box;}
ul {list-style: none;}
a {text-decoration: none; color: #1A1617; display: block;}
img {display: block; border: 0; object-fit: cover;}

body {
    font-family: 'Noto Sans KR', 'Oswald', 'Montserrat', sans-serif;
}